# Configuración de API de Google Gemini
GEMINI_API_KEY=tu_api_key_aqui

# Configuración de Django (Cámbiala en producción)
SECRET_KEY=django-insecure-tu-clave-aqui
DEBUG=True

DB_NAME=sizu_db
DB_USER=postgres
DB_PASSWORD=tu_password_aqui
DB_HOST=localhost
DB_PORT=5432